@import './../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url(//db.onlinewebfonts.com/c/ead4092f880f75ff0883ced1856b2c37?family=SF+Pro+Rounded);

@mixin flex($justify){
    display: flex;
    justify-content: $justify;
}

@mixin font-style($size: 16px, $line: 20px, $weight: 400){
    font-family: 'poppins';
    font-size: $size;
    line-height: $line;
    font-weight: $weight;
}

$nav: #FFFF;
$text-p-i: #FFFF;
$btn: #AE39FF;
$btn-hover: #4e2c63;
$text-h1: #1C2661;
$text-h5: #AE39FF;
$text-h1-g: #AE39FF;
$text-h5-g: #19245F;
$text-p-g: #2E334E;
$btn-g: #F2B828;
$text-h6-a: #4FACF6;
$badge: #AE39FF;

* {
    margin: 0;
    padding: 0;
}


.navbar {
    .container {
        .navbar-toggler {
            border: 2px solid $text-p-i;
        }
        .navbar-collape {
            .navbar-nav{
                @include flex(center);
                .nav-item {
                    padding: 0 20px;
                    a{
                        color: $nav;
                    }
                    a:hover{
                        color: $nav;
                    }
                }
            }
        }
    }
}