@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Poppins:ital@1&display=swap');
@import url(//db.onlinewebfonts.com/c/ead4092f880f75ff0883ced1856b2c37?family=SF+Pro+Rounded);

* {
    margin: 0;
    padding: 0;
}

.navbar {
    background: linear-gradient(to right, #734192, #9B309D); 
}

.navbar-nav a {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.btn {
    border-radius: 23px;
}

.ilmu {
    background-image: url(../image/Vector1.png), url(../image/Vector2.png), url(../image/);
    background-repeat: no-repeat;
    background-position: top center, left bottom;
    background-size: 100%, 60%;
    height: 790px;
}

.ilmu .img-fluid {
    max-width: 50%;
    height: auto;
    margin-left: 50%;
    margin-top: -20%;
}

.ilmu .container {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    padding-top: 150px;
}

.btn-ilmu {
    background-color: #AE39FF;
    color: white;
    width: Hug (179px);
    height: Hug (48px);
    top: 256px;
    gap: 10px;
    padding: 12px, 24px, 12px, 24px;
}

.ilmu .btn:hover {
    background-color: #4e2c63;
}

.ilmu .container .ilmu-text h1 {
    font-weight: 700;
    font-size: 48px;
    color: white;
    line-height: 72px;
    font-family: 'Poppins', sans-serif;
}

.ilmu .container .ilmu-text p {
    font-weight: 400;
    font-size: 20px;
    color: white;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
}

.ilmu .container .ilmu-text a {
    font-family: 'Poppins', sans-serif;
}

.ilmu .container .ilmu-text a:hover {
    background-color: #5b3671;
}

.keunggulan {
    margin-top: -801px;
    padding: 975px 0px 215px;
    background-image: url(../image/blob1.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100px;
}

.keunggulan .container {
    flex-direction: row;
    align-items: center;
    padding-top: 60px;
}

.keunggulan .keunggulan-text {
    text-align: left;
}

.keunggulan .keunggulan-text h1{
    color: #1C2661;
    font-weight: 700;
    font-family: "SF Pro Rounded";
    padding: 15px 0px 59px;
}

.keunggulan .keunggulan-text h5 {
    color: #AE39FF;
    font-family: 'Poppins', sans-serif;
}


.keunggulan .row .col-4 {
    text-align: left;
}

.keunggulan .row .col-4 h4{
    font-family: 'Poppins', sans-serif;
    color: #2E334E;
}

.keunggulan .row .col-4 p{
    font-family: 'Poppins', sans-serif;
    color: #A3A6A6;
}

.keunggulan .row .col-4 img {
    margin-bottom: 30px;
    width: 20%;

}

.tentang {
    margin-top: -104px;
}

.tentang .card {
    /* background-image: url(../image/Rectangle2.png); */
    background-size: cover;
    border: none;
    margin: -133px 0px 100px;
    background: none;
}

.tentang .row {
    margin: 20px;
}

.tentang .row .col .cuate2 {
    margin: auto;
}

.tentang .row .col .kuning {
    position: absolute;
    left: 0px;
    top: 93px;
}

.tentang .row .tentang-text h1 {
    color: #1C2661;
    font-family: "SF Pro Rounded";
    font-weight: 700;
}

.tentang .row .tentang-text p {
    text-align: justify;
    font-size: 1.2em;
    color: #1C2661;
    font-family: 'Poppins', sans-serif;
}

.tentang .row .btn-tentang {
    background-color: #AE39FF;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: Hug (228px);
    height: Hug (51px);
    top: 331px;
    padding: 12px, 24px, 12px, 24px;
    gap: 10px;
}

.tentang .btn-tentang:hover {
    background-color: #4e2c63;
}

.galeri {
    background-color: #E9EFFFCC;
    background-image: url(../image/blob2.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-top: 1200px;
    margin-bottom: 0px;
}

.galeri .row h1 {
    color: #AE39FF;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.galeri .row h2 {
    color: #19245F;
    font-family: "SF Pro Rounded";
    font-size: 30px;
    font-weight: 700;
}

.galeri .row .col-auto .btn {
    margin-left: 82%;
    margin-top: -5%;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.galeri .row a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.galeri .row a:hover {
    color: #1C2661;
}

.galeri .row {
    margin: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.galeri .row .col-3 {
    width: 33%;
}

.galeri .row .col-3 img {
    width: 100%;
    margin-bottom: 36px;
}

.galeri .card-box img:hover {
    transform: scale(1.1);
}

.galeri .card {
    background: none;
    border: none;
}

.galeri .row .col-3 .text h5{
    color: #19245F;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.galeri .row .col-3 .text p{
    color: #2E334E;
    font-family: 'Poppins', sans-serif;
}

.galeri .row .col-auto .btn {
    background-color: #F2B828;
    border-radius: 10px;
}

.galeri .row .col-auto .btn:hover {
    background-color: #a17a17;
}

.artikel {
    margin: 170px 0px 0px;
    /* margin-top: -801px; */
    background-image: url(../image/blob3.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100px;
}

.artikel .card {
    border: none;
}

.artikel .text h6{
    text-align: center;
    color: #4FACF6;
    font-family: "SF Pro Rounded";
}

.artikel .text h1{
    text-align: center;
    color: #1C2661;
    font-family: "SF Pro Rounded";
    font-weight: bolder;
}

.artikel .row .col img {
    width: 100%;
    margin: 0px 0px 30px;
}

.artikel .row .col h4 {
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    font-weight: 600;
}

.artikel .row .col p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}

.artikel .row .badge {
    background-color: #AE39FF;
    border-radius: 20px;
    font-size: 20px;
    position: relative;
    top: -50px;
    left: 73px;
}

.bd-footer .row .col-lg-3 p {
    color: #2E334E;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.bd-footer .row .col-md-2 h4 {
    color: #2E334E;
    font-family: "SF Pro Rounded";
    font-weight: 600;
    font-size: 24px;
    line-height: 28.64px;
}

.bd-footer .row .col-md-2 a {
    color: #404040;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.2 px;
}

.footer .row .mb-2 {
    text-decoration: none;
}

/* media queries */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .section-padding {
        width: 100%;
    }
}

@media only screen and (max-width: 767px){

    .ilmu {
        background-repeat: no-repeat;
        background-position: top center, left bottom;
        background-size: 100%, 50%;
        height: 391px;
    }

    .ilmu .img-fluid {
        margin-top: -249px;
        width: 50%;
    }

    .ilmu .container .ilmu-text h1 {
        font-size: 1.3em;
        line-height: 22px;
        margin-top: -60px;
    }

    .keunggulan {
        margin-top: -976px;
    }

    .keunggulan .row .col-4 img {
        width: 70px;
    }

    .keunggulan .row div {
        padding: 10px;
        width: 500px;
        height: 339px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .keunggulan .row .col-4 p {
        font-size: 14px;
        margin: 11px 100px 0px 145px;
    }

    .keunggulan .row .col-4 h4 {
        margin: 4px 144px;
    }

    .keunggulan .keunggulan-text {
        text-align: center;
    }

    .galeri {
        margin-top: 2277px;
    }

    .galeri .card-body {
        margin-top: -2px;
        margin-bottom: 26px;
    }
    
    .galeri .row .col-auto .btn {
        margin-top: -113px;
    }

    .galeri .row .col-3 {
        width: 492px;
        height: 533px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .artikel .card-body {
        margin-top: -2px;
        margin-bottom: -187px;
    }

    .artikel .container {
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 179px;
        height: 1690px;
    }

    .artikel .row .col img {
        width: 180%;
        margin: 0px -74px 26px;
        display: block;
    }

    .artikel .row .badge {
        font-size: 20px;
        position: relative;
        top: -43px;
        left: 0px;
    }

    .artikel .row .col h4 {
        margin: -25px -68px 46px;
    }

    .artikel .row .col p {
        margin: -25px -68px 11px;
    }

}

@media only screen and (min-width: 1590px) {
    .ilmu{
        background-image: url();
    }

    .ilmu .col img{
        display: block;
    }
}
